<config>
    <modules>
        <MageDoc_DirectoryTire>
            <version>0.1.0</version>
        </MageDoc_DirectoryTire>
    </modules>
    <global>
        <models>
            <directory_tire>
                <class>MageDoc_DirectoryTire_Model</class>
                <resourceModel>directory_tire_resource</resourceModel>
            </directory_tire>
            <directory_tire_resource>
                <class>MageDoc_DirectoryTire_Model_Resource</class>
                <entities>
                    <tires_brands>
                        <table>tires_brands</table>
                    </tires_brands>
                    <tires_products>
                        <table>tires_products</table>
                    </tires_products>
                </entities>
            </directory_tire_resource>
        </models>
        <resources>
            <directory_tire_setup>
                <setup>
                    <module>MageDoc_DirectoryTire</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </directory_tire_setup>
        </resources>
        <magedoc>
            <directory>
                <tire>
                    <version>1.0</version>
                    <name>Tires</name>
                    <model>directory_tire/directory</model>
                    <table_prefix>tires_directory_1_0.</table_prefix>
                    <table_suffix></table_suffix>
                    <tables>
                        <product>directory_tire/tires_products</product>
                        <product_index>directory_tire/tires_products</product_index>
                        <vendor>directory_tire/tires_brands</vendor>
                        <keys>
                            <product_index>
                                <primary>tire_id</primary>
                                <supplier_id>brand_id</supplier_id>
                                <code_normalized>code_normalized</code_normalized>
                            </product_index>
                            <vendor>
                                <primary>brand_id</primary>
                                <name>brand_name</name>
                            </vendor>
                        </keys>
                    </tables>
                    <extra_fields>speed,loading,size,season</extra_fields>
                </tire>
            </directory>
            <import_parser_models module="magedoc">
                <tire_advanced translate="label">
                    <label>Tires Advanced</label>
                    <class>directory_tire/parser</class>
                </tire_advanced>
            </import_parser_models>
        </magedoc>
    </global>
</config>