<config>
    <modules>
        <MageDoc_DirectoryTecdoc>
            <version>0.1.0</version>
        </MageDoc_DirectoryTecdoc>
    </modules>
    <global>
        <models>
            <directory_tecdoc>
                <class>MageDoc_DirectoryTecdoc_Model</class>
                <resourceModel>directory_tecdoc_resource</resourceModel>
            </directory_tecdoc>
            <directory_tecdoc_resource>
                <class>MageDoc_DirectoryTecdoc_Model_Resource</class>
            </directory_tecdoc_resource>
        </models>
        <resources>
            <directory_tecdoc_setup>
                <setup>
                    <module>MageDoc_DirectoryTecdoc</module>
                    <class>MageDoc_DirectoryTecdoc_Model_Resource_Setup</class>
                </setup>
            </directory_tecdoc_setup>
        </resources>
        <magedoc>
            <directory>
                <tecdoc>
                    <version>2013_4q</version>
                    <name>TecDoc</name>
                    <model>magedoc/directory_tecdoc</model>
                    <tables>
                        <product>magedoc/tecdoc_article</product>
                        <product_index>magedoc/tecdoc_articleNormalized</product_index>
                        <product_search>magedoc/tecdoc_artLookup</product_search>
                        <vendor>magedoc/tecdoc_supplier</vendor>
                        <keys>
                            <product>
                                <primary>ART_ID</primary>
                                <supplier_id>ART_SUP_ID</supplier_id>
                                <code>ART_ARTICLE_NR</code>
                            </product>
                            <product_index>
                                <primary>ARN_ART_ID</primary>
                                <supplier_id>ARN_SUP_ID</supplier_id>
                                <code_normalized>ARN_ARTICLE_NR_NORMALIZED</code_normalized>
                            </product_index>
                            <vendor>
                                <primary>SUP_ID</primary>
                                <name>SUP_BRAND</name>
                            </vendor>
                        </keys>
                    </tables>
                </tecdoc>
            </directory>
        </magedoc>
    </global>
</config>