<config>
    <tabs>
        <testimonial translate="label" module="magedoc">
            <label>Testimonial</label>
            <sort_order>100</sort_order>
        </testimonial>
    </tabs> 
    <sections>
        <magedoc>
            <label>Magedoc</label>
            <tab>testimonial</tab>
            <frontend_type>text</frontend_type>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <lng_id translate="label comment">
                            <label>Store Language</label>
                            <frontend_type>select</frontend_type>
                            <source_model>magedoc/source_language::getOptionArray</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </lng_id>
                    </fields>
                </general>
            </groups>
        </magedoc>
    </sections>
</config>