<!--
/**
 * @category Phoenix
 * @package Phoenix_NoRegion
  * @license http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)                 
 */
 -->
<config>
    <modules>
        <Phoenix_NoRegion>
            <version>0.1.4</version>
        </Phoenix_NoRegion>
    </modules>
    <global>
        <models>
            <noregion>
                <class>Phoenix_NoRegion_Model</class>
            </noregion>
            <customer>
                <rewrite>
                    <address>Phoenix_NoRegion_Model_Address</address>
                </rewrite>
            </customer>
            <sales>
                <rewrite>
                    <!--<quote_address>Phoenix_NoRegion_Model_Quote_Address</quote_address>-->
                </rewrite>
            </sales>
        </models>
        <helpers>
            <noregion>
                <class>Phoenix_NoRegion_Helper</class>
            </noregion>
        </helpers>
    </global>
    <default>
        <customer>
            <noregion>
                <enabled>1</enabled>
            </noregion>
        </customer>
    </default>
</config>