<?xml version="1.0"?>
<config>
    <modules>
        <MageDoc_AdminMessenger>
            <version>0.1.0</version>
        </MageDoc_AdminMessenger>
    </modules>
    <global>
        <models>
            <admin_messenger>
                <class>MageDoc_AdminMessenger_Model</class>
                <resourceModel>admin_messenger_resource</resourceModel>
            </admin_messenger>
            <admin_messenger_resource>
                <class>MageDoc_AdminMessenger_Model_Resource</class>
            </admin_messenger_resource>
        </models>
        <blocks>
            <admin_messenger>
                <class>MageDoc_AdminMessenger_Block</class>
            </admin_messenger>
        </blocks>
        <helpers>
            <admin_messenger>
                <class>MageDoc_AdminMessenger_Helper</class>
            </admin_messenger>
        </helpers>
        <resources>
           <admin_messenger_setup>
               <setup>
                   <module>MageDoc_AdminMessenger</module>
               </setup>
           </admin_messenger_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <admin_messenger before="Mage_Adminhtml">MageDoc_AdminMessenger_Adminhtml</admin_messenger>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <MageDoc_AdminMessenger>
                    <file>MageDoc_AdminMessenger.xml</file>
                </MageDoc_AdminMessenger>
            </updates>
        </layout>
        <translate>
            <modules>
                <MageDoc_AdminMessenger>
                    <files>
                        <default>MageDoc_AdminMessenger.csv</default>
                    </files>
                </MageDoc_AdminMessenger>
            </modules>
        </translate>
    </adminhtml>
</config>