<?xml version="1.0"?>
<!--
 * {magecore_license_notice}
 *
 * @category   MageCore
 * @package    Analytics
 * @copyright  {magecore_copyright}
 * @license    {magecore_license}
-->

<config>
    <modules>
        <Oro_Analytics>
            <version>0.1.0</version>
        </Oro_Analytics>
    </modules>

    <global>
        <models>
            <oro_analytics>
                <class>Oro_Analytics_Model</class>
                <resourceModel>oro_analytics_resource</resourceModel>
            </oro_analytics>
            <oro_analytics_resource>
                <class>Oro_Analytics_Model_Resource</class>
                <entities>
                    <data>
                        <table>oro_analytics_data</table>
                    </data>
                    <cron_job>
                        <table>oro_cron_job</table>
                    </cron_job>
                    <customer>
                        <table>oro_analytics_customer</table>
                    </customer>
                    <ref_domain>
                        <table>oro_ref_domain</table>
                    </ref_domain>
                    <refer>
                        <table>oro_analytics_refer</table>
                    </refer>
                    <page>
                        <table>oro_analytics_page</table>
                    </page>
                    <shop>
                        <table>oro_analytics_shop</table>
                    </shop>
                    <product>
                        <table>oro_analytics_product</table>
                    </product>
                    <category_filter>
                        <table>oro_analytics_category_filter</table>
                    </category_filter>
                    <date_partition>
                        <table>oro_date_partition</table>
                    </date_partition>
                    <category>
                        <table>oro_analytics_category</table>
                    </category>
                    <search>
                        <table>oro_analytics_search</table>
                    </search>
                    <tag>
                        <table>oro_analytics_tag</table>
                    </tag>
                    <review>
                        <table>oro_analytics_review</table>
                    </review>
                    <visitor>
                        <table>oro_analytics_visitor</table>
                    </visitor>
                    <data_daily>
                        <table>oro_analytics_data_daily</table>
                    </data_daily>
                    <cron_job_daily>
                        <table>oro_cron_job_daily</table>
                    </cron_job_daily>
                    <customer_daily>
                        <table>oro_analytics_customer_daily</table>
                    </customer_daily>
                    <refer_daily>
                        <table>oro_analytics_refer_daily</table>
                    </refer_daily>
                    <page_daily>
                        <table>oro_analytics_page_daily</table>
                    </page_daily>
                    <shop_daily>
                        <table>oro_analytics_shop_daily</table>
                    </shop_daily>
                    <product_daily>
                        <table>oro_analytics_product_daily</table>
                    </product_daily>
                    <category_filter_daily>
                        <table>oro_analytics_category_filter_daily</table>
                    </category_filter_daily>
                    <date_partition_daily>
                        <table>oro_date_partition_daily</table>
                    </date_partition_daily>
                    <category_daily>
                        <table>oro_analytics_category_daily</table>
                    </category_daily>
                    <search_daily>
                        <table>oro_analytics_search_daily</table>
                    </search_daily>
                    <tag_daily>
                        <table>oro_analytics_tag_daily</table>
                    </tag_daily>
                    <review_daily>
                        <table>oro_analytics_review_daily</table>
                    </review_daily>
                    <visitor_daily>
                        <table>oro_analytics_visitor_daily</table>
                    </visitor_daily>
                </entities>
            </oro_analytics_resource>
        </models>
        <resources>
            <oro_analytics_setup>
                <setup>
                    <module>Oro_Analytics</module>
                    <class>Oro_Analytics_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </oro_analytics_setup>
            <oro_analytics_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </oro_analytics_write>
            <oro_analytics_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </oro_analytics_read>
        </resources>
        <helpers>
            <oro_analytics>
                <class>Oro_Analytics_Helper</class>
            </oro_analytics>
        </helpers>
        <blocks>
            <oro_analytics>
                <class>Oro_Analytics_Block</class>
            </oro_analytics>
        </blocks>
        <events>
            <admin_system_config_changed_section_general>
                <observers>
                    <check_timezone_config>
                        <class>oro_analytics/observer</class>
                        <method>actionConfigSaveAfter</method>
                    </check_timezone_config>
                </observers>
            </admin_system_config_changed_section_general>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <oro_analytics>
                    <file>oro_analytics.xml</file>
                </oro_analytics>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <analytic_data_aggregation>
                <schedule>
                    <cron_expr>01 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>oro_analytics/dataAggregation::normalParseDataCronJob</model>
                </run>
            </analytic_data_aggregation>
            <analytic_daily_aggregation>
                <schedule>
                    <cron_expr>15 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>oro_analytics/dailyAggregation::normalParseDataCronJob</model>
                </run>
            </analytic_daily_aggregation>
            <analytic_reverse_aggregation>
                <schedule>
                    <cron_expr>30 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>oro_analytics/dataAggregation::reverseParseDataCronJob</model>
                </run>
            </analytic_reverse_aggregation>
        </jobs>
    </crontab>
</config>
