<?xml version="1.0"?>
<config>
    <modules>
        <Vinagento_Oscheckout>
            <version>1.0.0</version>
        </Vinagento_Oscheckout>
    </modules>
    <frontend>
		<secure_url>
        <checkout_onestep>/checkout/onestep</checkout_onestep>
    </secure_url>
	<routers>
	    <checkout>
		<args>
		    <modules>
			<Vinagento_Oscheckout before="Mage_Checkout">Vinagento_Oscheckout</Vinagento_Oscheckout> 
		    </modules>
		</args>
	    </checkout>
	</routers>
        <layout>
            <updates>
                <oscheckout>
                    <file>oscheckout.xml</file>
                </oscheckout>
            </updates>
        </layout>
	<events>
	    <checkout_controller_oscheckout_save_order_after>
                <observers>
                    <giftmessage>
                        <type>model</type>
                        <class>giftmessage/observer</class>
                        <method>checkoutEventCreateGiftMessage</method>
                    </giftmessage>
                </observers>
       </checkout_controller_oscheckout_save_order_after>
	</events>
        <translate>
            <modules>
                <Vinagento_Oscheckout>
                    <files>
                        <default>Vinagento_Oscheckout.csv</default>
                    </files>
                </Vinagento_Oscheckout>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
	    <oscheckout>
		<use>admin</use>
		<args>
		    <module>Vinagento_Oscheckout</module>
		    <frontName>onestep</frontName>
		</args>
	    </oscheckout>
        </routers>
    </admin>
    <adminhtml>
	<layout>
	    <updates>
		<oscheckout>
		    <file>oscheckout.xml</file>
		</oscheckout>
	    </updates>
	</layout>
    </adminhtml>   
    <global>
        <models>
            <oscheckout>
                <class>Vinagento_Oscheckout_Model</class>
            </oscheckout>
        </models>
        <blocks>
            <oscheckout>
                <class>Vinagento_Oscheckout_Block</class>
            </oscheckout>
        </blocks>
        <helpers>
            <oscheckout>
                <class>Vinagento_Oscheckout_Helper</class>
            </oscheckout>
        </helpers>
        <resources>
	    <oscheckout_setup>
                <setup>
                    <module>Vinagento_Oscheckout</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </oscheckout_setup>
	    <oscheckout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </oscheckout_write>
            <oscheckout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </oscheckout_read>	
        </resources>
	<events>
	    <controller_action_predispatch_checkout_onepage_index>
		<observers>
		    <vinagento_oscheckout_observer>
			<type>singleton</type>
			<class>oscheckout/observer</class>
			<method>osRedirect</method>
		    </vinagento_oscheckout_observer>
		</observers>
	    </controller_action_predispatch_checkout_onepage_index>
	</events>
    </global>
    <default>
	<oscheckout>
	    <general>
		<active>1</active>
	    </general>
	</oscheckout>
    </default>
</config>