<?xml version="1.0"?>
<!--
/**
 * Magento - Block Caching
 *
 * NOTICE OF LICENSE
 * 
 * This source file is subject to license that is bundled with
 * this package in the file LICENSE.txt.
 *
 * @category   Phoenix
 * @package	   Phoenix_BlockCaching
 * @copyright  Copyright (c) 2009 Phoenix Medien GmbH & Co. KG (http://www.phoenix-medien.de)
 */
-->
<config>
	<sections>
		<blockcaching translate="label" module="blockcaching">
			<label>Block Caching</label>
			<tab>general</tab>
			<frontend_type>text</frontend_type>
			<sort_order>910</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>0</show_in_website>
			<show_in_store>0</show_in_store>
			<groups>
				<catalog translate="label">
					<label>Catalog Cache Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<catalog_view_enabled translate="label">
							<label>Catalog View Cache Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</catalog_view_enabled>
						<product_list_enabled translate="label">
							<label>Product List Cache Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</product_list_enabled>
						<product_view_enabled translate="label">
							<label>Product View Cache Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</product_view_enabled>
						<product_related_enabled translate="label">
                            <label>Related Products Cache Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </product_related_enabled>
                        <product_upsell_enabled translate="label">
                            <label>Upsell Products Cache Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </product_upsell_enabled>
						<lifetime translate="label">
							<label>Cache lifetime</label>
							<comment>Cache lifetime in seconds (default:1800 = 30 minutes)</comment>
							<frontend_type>text</frontend_type>
							<sort_order>100</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</lifetime>
					</fields>
				</catalog>
				<cms translate="label">
					<label>CMS Cache Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>20</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<cms_pages_enabled translate="label">
							<label>CMS Page Cache Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</cms_pages_enabled>
 					    <cms_pages_exclude translate="label">
							<label>CMS Page Exclude</label>
							<comment>One page URL key per line</comment>
                            <frontend_type>textarea</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</cms_pages_exclude>
						<cms_block_enabled translate="label">
							<label>CMS Block Cache Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</cms_block_enabled>
						<cms_block_exclude translate="label">
							<label>CMS Block Exclude</label>
							<comment>Comma separated list of numeric IDs</comment>
							<frontend_type>text</frontend_type>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</cms_block_exclude>
						<lifetime translate="label">
                            <label>Cache lifetime</label>
                            <comment>Cache lifetime in seconds (default:1800 = 30 minutes)</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </lifetime>
					</fields>
				</cms>
				
				<checkout translate="label">
					<label>Checkout Cache Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>30</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<cart_sidebar_enabled translate="label">
							<label>Cart Sidebar Cache Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</cart_sidebar_enabled>
					</fields>
				</checkout>

				<template translate="label">
					<label>Template Block Cache Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>40</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<page_links_enabled translate="label">
							<label>Page Links Cache Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</page_links_enabled>
						<template_enabled translate="label">
							<label>Template Block Cache Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</template_enabled>
						<template_include translate="label">
							<label>Template Include</label>
							<comment>One block alias per line</comment>
							<frontend_type>textarea</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</template_include>
						<lifetime translate="label">
                            <label>Cache lifetime</label>
                            <comment>Cache lifetime in seconds (default:1800 = 30 minutes)</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </lifetime>
					</fields>
				</template>
				
				<debug translate="label">
                    <label>Debug</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable translate="label">
                            <label>Debug mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable>
                        <highlight_noncacheable_blocks translate="label">
                            <label>Highlight non-cacheable blocks</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </highlight_noncacheable_blocks>
                        <allow_ips translate="label comment">
                            <label>Allowed IPs (comma separated)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Leave empty for access from any location.</comment>
                        </allow_ips>
                    </fields>
                </debug>
			</groups>
		</blockcaching>
	</sections>
</config>
