<config>
    <modules>
        <MageDoc_DirectoryCatalog>
            <version>0.1.0</version>
        </MageDoc_DirectoryCatalog>
    </modules>
    <global>
        <models>
            <directory_catalog>
                <class>MageDoc_DirectoryCatalog_Model</class>
                <resourceModel>directory_catalog_resource</resourceModel>
            </directory_catalog>
            <directory_catalog_resource>
                <class>MageDoc_DirectoryCatalog_Model_Resource</class>
                <entities>
                    <product_index>
                        <table>magedoc_directory_catalog_product_index</table>
                    </product_index>
                </entities>
            </directory_catalog_resource>
        </models>
        <resources>
            <directory_catalog_setup>
                <setup>
                    <module>MageDoc_DirectoryCatalog</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </directory_catalog_setup>
        </resources>
        <magedoc>
            <directory>
                <catalog>
                    <version>1.0</version>
                    <name>Catalog</name>
                    <model>directory_catalog/directory</model>
                    <retailer_import_model_default>directory_catalog/import_default</retailer_import_model_default>
                    <retailer_import_model_aggregator>directory_catalog/import_aggregator</retailer_import_model_aggregator>
                    <table_prefix></table_prefix>
                    <table_suffix></table_suffix>
                    <tables>
                        <product>catalog/product</product>
                        <product_index>directory_catalog/product_index</product_index>
                        <vendor>eav/attribute_option_value</vendor>
                        <keys>
                            <product>
                                <primary>entity_id</primary>
                                <code>code</code>
                            </product>>
                            <product_index>
                                <primary>product_id</primary>
                                <supplier_id>manufacturer_id</supplier_id>
                                <generic_article_id>generic_article_id</generic_article_id>
                                <code_normalized>code_normalized</code_normalized>
                                <model_normalized>model_normalized</model_normalized>
                            </product_index>
                            <vendor>
                                <primary>option_id</primary>
                                <name>value</name>
                            </vendor>
                        </keys>
                    </tables>
                    <extra_fields>speed,loading,size,season,content_entity,tmp1</extra_fields>
                </catalog>
            </directory>
            <import_parser_models module="magedoc">
                <catalog_advanced translate="label">
                    <label>Catalog Advanced</label>
                    <class>directory_catalog/parser</class>
                </catalog_advanced>
            </import_parser_models>
        </magedoc>
        <index>
            <indexer>
                <update_directory_offer_link>
                    <model>directory_catalog/indexer</model>
                </update_directory_offer_link>
                <directory_catalog_product_index>
                    <model>directory_catalog/indexer_product</model>
                </directory_catalog_product_index>
            </indexer>
        </index>
        <autopricing>
            <process>
                <add_new_ga_to_map>
                    <title>Add new generic articles to map</title>
                    <model>directory_catalog/processor</model>
                    <method>addNewGenericArticlesToMap</method>
                    <sort_order>80</sort_order>
                </add_new_ga_to_map>
                <add_new_catalog_suppliers_to_map>
                    <title>Add new catalog suppliers to map</title>
                    <model>directory_catalog/processor</model>
                    <method>addNewSuppliersToMap</method>
                    <sort_order>80</sort_order>
                </add_new_catalog_suppliers_to_map>
            </process>
        </autopricing>
        <events>
            <catalog_product_save_after>
                <observers>
                    <magedoc_directory_catalog>
                        <type>singleton</type>
                        <class>MageDoc_DirectoryCatalog_Model_Observer</class>
                        <method>catalog_product_save_after</method>
                    </magedoc_directory_catalog>
                </observers>
            </catalog_product_save_after>
        </events>
    </global>
</config>