<config>
	<modules>
        <Serpini_Sqlreport>
            <version>0.1.0</version>
        </Serpini_Sqlreport>
    </modules>
	<global>
		<models>
			<sqlreport>
				<class>Serpini_Sqlreport_Model</class>
				<resourceModel>sqlreport_resource</resourceModel>
			</sqlreport>
			<sqlreport_resource>
				<class>Serpini_Sqlreport_Model_Report</class>
			</sqlreport_resource>
		</models>
		<blocks>
            <sqlreport>
                <class>Serpini_Sqlreport_Block</class>
            </sqlreport>
        </blocks>
        <helpers>
            <sqlreport>
                <class>Serpini_Sqlreport_Helper</class>
            </sqlreport>
        </helpers>
	</global>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Serpini_Sqlreport before="Mage_Adminhtml">Serpini_Sqlreport_Adminhtml</Serpini_Sqlreport>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<translate>
			<modules>
				<Serpini_Sqlreport>
					<files>
						<default>Serpini_Sqlreport.csv</default>
					</files>
				</Serpini_Sqlreport>
			</modules>
		</translate>
	 	<layout> 
            <updates>
                <sqlreport>
                    <file>sqlreport.xml</file>
                </sqlreport>
            </updates>
        </layout>
	</adminhtml>
	
</config>	