<?xml version="1.0"?>

<config>
    <modules>
        <MageDoc_OrderExport>
            <version>0.1.0</version>
        </MageDoc_OrderExport>
    </modules>
    <global>
        <models>
            <magedoc_orderexport>
                <class>MageDoc_OrderExport_Model</class>
                <resourceModel>magedoc_orderexport_resource</resourceModel>
            </magedoc_orderexport>
            <magedoc_orderexport_resource>
                <class>MageDoc_OrderExport_Model_Resource</class>
            </magedoc_orderexport_resource>
        </models>
        <blocks>
            <magedoc_orderexport>
                <class>MageDoc_OrderExport_Block</class>
            </magedoc_orderexport>
        </blocks>
        <resources>
            <magedoc_orderexport_setup>
                <setup>
                    <module>MageDoc_OrderExport</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magedoc_orderexport_setup>
            <magedoc_orderexport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magedoc_orderexport_write>
            <magedoc_orderexport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magedoc_orderexport_read>
        </resources>
        <helpers>
            <magedoc_orderexport>
                <class>MageDoc_OrderExport_Helper</class>
            </magedoc_orderexport>
        </helpers>
        <customer>
            <address>
                <formats>
                    <short translate="title" module="magedoc_orderexport">
                        <title>Short</title>
                    </short>
                </formats>
            </address>
        </customer>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <MageDoc_OrderExport before="Mage_Adminhtml">MageDoc_OrderExport_Adminhtml</MageDoc_OrderExport>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
    <adminhtml>
        <translate>
            <modules>
                <magedoc_orderexport>
                    <files>
                        <default>MageDoc_OrderExport.csv</default>
                    </files>
                </magedoc_orderexport>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <magedoc_orderexport>
                                            <title>Testimonial Order Export</title>
                                        </magedoc_orderexport>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <frontend>
        <routers>
            <magedoc_orderexport>
                <use>standard</use>
                <args>
                    <module>MageDoc_OrderExport</module>
                    <frontName>magedoc_orderexport</frontName>
                </args>
            </magedoc_orderexport>
        </routers>
        <layout>
            <updates>
                <magedoc_orderexport>
                    <file>magedoc_orderexport.xml</file>
                </magedoc_orderexport>
            </updates>
        </layout>
        <translate>
            <modules>
                <MageDoc_OrderExport>
                    <files>
                        <default>MageDoc_OrderExport.csv</default>
                    </files>
                </MageDoc_OrderExport>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <magedoc_orderexport>
                    <file>magedoc_orderexport.xml</file>
                </magedoc_orderexport>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <magedoc_orderexport>
            <settings>
                <path_prefix>export/</path_prefix>
                <order_export_limit>20</order_export_limit>
                <order_address_export_limit>20</order_address_export_limit>
                <order_export_filename>order_export.csv</order_export_filename>
                <order_address_export_filename>order_address_export.csv</order_address_export_filename>
                <notification_email_recepient></notification_email_recepient>
            </settings>
            <ftp>
                <hostname></hostname>
                <username></username>
                <password></password>
                <path>/</path>
            </ftp>
        </magedoc_orderexport>
        <customer>
            <address_templates>
                <short>{{depend postcode}}{{var postcode}}, {{/depend}}{{depend region}}{{var region}} обл., {{/depend}}{{var city}}, {{var street}}</short>
            </address_templates>
        </customer>
    </default>
    <crontab>
		<jobs>
            <magedoc_orderexport_default_exportOrder>
 				<schedule><cron_expr>13 3 * * *</cron_expr></schedule>
				<run><model>magedoc_orderexport/export_order_utb::cronHandler</model></run>
			</magedoc_orderexport_default_exportOrder>
		</jobs>
	</crontab>
</config>
