<?xml version="1.0"?>

<config>
    <modules>
        <Testimonial_FlatCatalogSearch>
            <version>0.1.0.0</version>
        </Testimonial_FlatCatalogSearch>
    </modules>
    <global>
        <models>
            <flatcatalogsearch>
                <class>Testimonial_FlatCatalogSearch_Model</class>
                <resourceModel>flatcatalogsearch_resource</resourceModel>
            </flatcatalogsearch>
            <flatcatalogsearch_resource>
                <class>Testimonial_FlatCatalogSearch_Model_Resource</class>
                <entities>
                    <search_query>
                        <table>flatcatalogsearch_query</table>
                    </search_query>
                    <result>
                        <table>flatcatalogsearch_result</table>
                    </result>
                    <fulltext>
                        <table>flatcatalogsearch_fulltext</table>
                    </fulltext>
                </entities>
            </flatcatalogsearch_resource>
        </models>
        <helpers>
            <flatcatalogsearch>
                <class>Testimonial_FlatCatalogSearch_Helper</class>
            </flatcatalogsearch>
        </helpers>
        <resources>
            <flatcatalogsearch_setup>
                <setup>
                    <module>Testimonial_FlatCatalogSearch</module>
                </setup>
            </flatcatalogsearch_setup>
        </resources>
        <blocks>
            <flatcatalogsearch>
                <class>Testimonial_FlatCatalogSearch_Block</class>
            </flatcatalogsearch>
        </blocks>
        <index>
            <indexer>
                <flatcatalogsearch_fulltext>
                    <model>flatcatalogsearch/indexer_fulltext</model>
                </flatcatalogsearch_fulltext>
            </indexer>
        </index>
    </global>
    <frontend>
        <routers>
            <flatcatalogsearch>
                <use>standard</use>
                <args>
                    <module>Testimonial_FlatCatalogSearch</module>
                    <frontName>flatcatalogsearch</frontName>
                </args>
            </flatcatalogsearch>
        </routers>
        <translate>
            <modules>
                <Testimonial_FlatCatalogSearch>
                    <files>
                        <default>Testimonial_FlatCatalogSearch.csv</default>
                    </files>
                </Testimonial_FlatCatalogSearch>
            </modules>
        </translate>
        <layout>
            <updates>
                <flatcatalogsearch>
                    <file>flatcatalogsearch.xml</file>
                </flatcatalogsearch>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Testimonial_FlatCatalogSearch>
                    <files>
                        <default>Testimonial_FlatCatalogSearch.csv</default>
                    </files>
                </Testimonial_FlatCatalogSearch>
            </modules>
        </translate>
        <layout>
            <updates>
                <flatcatalogsearch>
                    <file>search.xml</file>
                </flatcatalogsearch>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <catalog>
            <seo>
                <search_terms>1</search_terms>
                <site_map>1</site_map>
            </seo>
            <search>
                <min_query_length>1</min_query_length>
                <max_query_length>128</max_query_length>
                <max_query_words>10</max_query_words>
                <search_type>1</search_type>
                <use_layered_navigation_count>2000</use_layered_navigation_count>
            </search>
        </catalog>
    </default>
</config>
